<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Contensive.CPBaseClass" version="5.1.11" targetFramework="net461" />
  <package id="Contensive.PortalApi" version="1.0.22" targetFramework="net461" />
  <package id="IIS.Microsoft.Web.Administration" version="8.5.9600.17042" targetFramework="net461" />
  <package id="SharpZipLib" version="1.1.0" targetFramework="net461" />
</packages>